package main

templ NewTodoForm() {
	<h1>New Todo</h1>
    <form
        action="/todos/create"
        method="post"
        fx-action="/todos/create"
        fx-method="POST"
        fx-target="#output"
        fx-swap="innerHTML">
        @ShortInput("")
        @DescriptionInput("")
        @DueDateInput("")
        @CostOfDelayInput("")
        @EffortInput("")
        <input type="submit" value="Create"/>
        @TodoBackButton()
    </form>
}
