package main

import (
    "fmt"
)

templ todosList(todos []Todo) {
    <div>
        <h1>Todos</h1>
        <button fx-action="/todos/new" fx-target="#output">New Todo</button>
        <ul>
            for _, todo := range todos {
                <li>
                    { todo.Short } &ndash; { todo.Effort }
                    <button fx-action={fmt.Sprintf("/todos/%d/edit", todo.ID)} fx-target="#output">
                        Edit
                    </button>
                </li>
            }
        </ul>
    </div>
}

templ todoForm(todo *Todo, action string) {
    <form method="POST" action={action}>
        <div>
            <label>
                Short: 
                <input name="short" value={todo.Short} />
            </label>
        </div>
        <div>
            <label>Description:<br/>
                <textarea name="description">{todo.Description}</textarea>
            </label>
        </div>
        <div>
            <label>Due date: <input type="date" name="due_date" value={todo.DueDate.Format("2006-01-02")} /></label>
        </div>
        <div>
            <label>Cost of delay: <input type="number" name="cost_of_delay" value={todo.CostOfDelay} /></label>
        </div>
        <div>
            <label>Effort:
                <select name="effort">
                    <option value="mins">mins</option>
                    <option value="hours">hours</option>
                    <option value="days">days</option>
                    <option value="weeks">weeks</option>
                    <option value="months">months</option>
                </select>
            </label>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
}
