package main
import (
"fmt"
"time"
)
func todoDisplayTimestamp(ts time.Time) string {
	return ts.Format("2006-01-02 15:04:05")
}

func todoDisplayDueDate(todo *Todo) string {
	if todo == nil || todo.DueDate == nil {
		return "N/A"
	}
	return todo.DueDate.Format("2006-01-02")
}

func todoInputDueDateForCell(dueDate DueDate) string {
	if dueDate == nil {
		return ""
	}
	return dueDate.Format("2006-01-02")
}
templ EditShort(id ID, short Short) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/edit/short", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#short-%d", id) }
		fx-swap="innerHTML">
		<button type="submit">{ short }</button>
	</form>
}
templ InputShort(id ID, short Short) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/update/short", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#short-%d", id) }
		fx-swap="innerHTML">
		<input type="text" name="short" value={ short }/>
	</form>
}

templ EditDescription(id ID, description Description) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/edit/description", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#description-%d", id) }
		fx-swap="innerHTML">
		<button type="submit">{ description }</button>
	</form>
}

templ InputDescription(id ID, description Description) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/update/description", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#description-%d", id) }
		fx-swap="innerHTML">
		<input type="text" name="description" value={ description }/>
	</form>
}

templ EditDueDate(id ID, dueDate string) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/edit/due-date", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#due-date-%d", id) }
		fx-swap="innerHTML">
		<button type="submit">{ dueDate }</button>
	</form>
}

templ InputDueDate(id ID, dueDate string) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/update/due-date", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#due-date-%d", id) }
		fx-swap="innerHTML">
		<input type="date" name="due_date" value={ dueDate } onchange="this.form.requestSubmit()"/>
	</form>
}

templ EditCostOfDelay(id ID, costOfDelay CostOfDelay) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/edit/cost-of-delay", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#cost-of-delay-%d", id) }
		fx-swap="innerHTML">
		<button type="submit">{ costOfDelay }</button>
	</form>
}

templ InputCostOfDelay(id ID, costOfDelay CostOfDelay) {
	<form
		fx-action={ fmt.Sprintf("/todos/%d/update/cost-of-delay", id) }
		fx-method="POST"
		fx-target={ fmt.Sprintf("#cost-of-delay-%d", id) }
		fx-swap="innerHTML">
		<input
			type="number"
			name="cost_of_delay"
			min="-2"
			max="2"
			step="1"
			value={ fmt.Sprintf("%d", costOfDelay) }
			onchange="this.form.requestSubmit()"/>
	</form>
}

templ TodoListPage(todos []Todo) {
	<button fx-action="/todos/new" fx-target="#output" fx-swap="innerHTML">
		New todo
	</button>
	<h1>Todo List</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Short</th>
			<th>Description</th>
			<th>Due Date</th>
			<th>Cost of Delay</th>
			<th>Effort</th>
			<th>Created At</th>
			<th>Updated At</th>
			<th>Actions</th>
		</tr>
			for _, todo := range todos {
				<tr>
					<td>{ todo.ID }</td>
					<td id={ fmt.Sprintf("short-%d", todo.ID) }>
						@EditShort(todo.ID, todo.Short)
					</td>
					<td id={ fmt.Sprintf("description-%d", todo.ID) }>
						@EditDescription(todo.ID, todo.Description)
					</td>
					<td id={ fmt.Sprintf("due-date-%d", todo.ID) }>
						@EditDueDate(todo.ID, todoDisplayDueDate(&todo))
					</td>
					<td id={ fmt.Sprintf("cost-of-delay-%d", todo.ID) }>
						@EditCostOfDelay(todo.ID, todo.CostOfDelay)
					</td>
					<td>{ todo.Effort }</td>
					<td>{ todoDisplayTimestamp(todo.CreatedAt) }</td>
					<td>{ todoDisplayTimestamp(todo.UpdatedAt) }</td>
				<td>
					<button
					fx-action={ fmt.Sprintf("/todos/%d/edit", todo.ID) }
					fx-target="#output"
					fx-swap="innerHTML">
						Edit
					</button>
					<form
					action={ fmt.Sprintf("/todos/%d/delete", todo.ID) }
					method="post"
					fx-action={ fmt.Sprintf("/todos/%d/delete", todo.ID) }
					fx-method="POST"
					fx-target="#output"
					fx-swap="innerHTML"
					style="display:inline">
						<input type="submit" value="Delete"/>
					</form>
					</td>
				</tr>
			}
	</table>
}
