body {
    font-family: sans-serif;
    display:flex; 
    flex-direction: column;
    align-items: center;
}

header, main {
    border: 1px solid hotpink;
    width: 100%;
    max-width: 800px;
    padding: 1em;
}